head{
    background-color: aliceblue;
    color: rgb(245, 171, 193);
    text-align: center;
    max-height: 800px;
    margin: 0 auto;
 }

    main {
    background-color: aliceblue;
    color: rgb(245, 171, 193);
    text-align: center;
    max-height: 800px;
    margin: 0 auto;
}